@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
body{
    font-family: "Nunito Sans", sans-serif;
    --c:#7952b3;
    --e:#7952b300;
}

#app {
  text-align: center;
  max-width: 1000px; /* Set a maximum width for larger screens */
  height: 60%;
  margin: 0 auto;
}


#card {
  height: 40%;
  margin: 20px;
  padding: 2%;
  font-size: xx-large;
  border: 1px solid #afafaf;
  border-radius: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 8);

  filter: drop-shadow(0 5px 10px 0 #ffffff);
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}
#card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #7952b3;
  height: 50px;
  width: 50px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.6s ease-out;
}
#card:hover::before {
  transition-delay: 0.1s;
  transform: scale(40);
}

#card:hover {
    cursor: pointer;
  color: #ffffff;
}
#card p{
    font-size: 1vw;
}
#score{
    transition: background-color 0.4s;
    font-size: 1vw;
}
#score,#progress{
  margin-left: 25%;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
button {
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    font-size: 2vw;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  button:disabled {
    box-shadow: 3% inset #0009; 
    background-color: gray;
    color: black;
    cursor:not-allowed;
    border: 1ps solid black;
  }
  button {
    font-size: 1rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }
  input[type=text] {
    font-weight: bold;
	border: none;
	outline: none;
	border-bottom: .2em solid #7952b3;
	background: rgba(#7952b3, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #7952b3;
}
input[type=text]:disabled {
  font-weight: bold;
border: none;
outline: none;
border-bottom: .2em solid #ff0000;
background: rgba(#ff0000, .2);
border-radius: .2em .2em 0 0;
padding: .4em;
color: #ff0000;
cursor: not-allowed;
}
form {
  display: grid;
  width: 30%;
  display: flex;
  flex-direction: column;
  float: left;
  margin: 1%;
}

.form-control {
  font-weight: bold;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}


input[type="radio"] {
  appearance: none;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid black;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #7952b3;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #7952b3;
  outline-offset: max(2px, 0.15em);
}
@media only screen and (max-width: 768) {
    #card {
      font-size: 3vw;
    }
    #card p {
      font-size: 2vw;
    }
    #score {
      font-size: 1.5vw;
    }
    button {
      font-size: 1.5vw;
    }
    input[type=text] {
      font-size: 1.5vw;
    }
    #progress {
      font-size: 1.5vw;
    }
  }